#container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px 250px;
  grid-gap: 10px;
  overflow: hidden;
}

.grid-cell {
  background-color: lightblue;
  outline: 3px green solid;
  text-align: center;
}

#header {
  grid-column-start: 1;
  grid-column-end: end;
}

#item_1 {
  grid-column-start: 1;
  grid-column-end: 5;
 
}

#item_2 {
  grid-column-start: 5;
  grid-column-end: 9;
}

#item_3 {
  grid-column-start: 9;
  grid-column-end: end;
}
#resultList {
  grid-column-start: 4;
  grid-column-end: 10;
}

.product {
  width: auto;
  height: 250px;
  overflow: hidden;
}

.grid-cell {
  text-align: center;
  overflow: hidden;
}

#markschart {
 width: auto;
  height: auto;
  border: 3px solid red;
}

.chartjs-size-monitor {
  float: left;
  position: absolute;
  top:  800px;
}

.chartjs {
  float: left;
  width: 550px;
  height: 550px;
}